<?xml version="1.0"?>
<model>
  <name>cow</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Sanket</name>
    <email>your@email.com</email>
  </author>
  <description>
    Cow model for pose estimation simulation.
    Static mesh from Sketchfab.
  </description>
</model>
